body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', 'Arial', sans-serif;
}


.view-control {
  display: block;
  position: fixed;
}

.view-control--right {
  top: 0;
  right: 0;
  margin: 0.5%;
  padding:0.5%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.view-control__button {
  color:white;
  cursor:pointer;
  padding:5%;
}

.view-control__button--active {
  color:black;
  background: white;
  border-radius: 10px;
}

.view-control__button:hover {
  color:black;
  background: white;
  border-radius: 10px;
}

.news-wrapper {
  margin: 0 auto;
}

.news {
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
}

.news-item__image--main-news {
  position: relative;
}

.news-item__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0;

  color: red;
}

.news-item__title--main {
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  bottom: 10.87%;
  left: 3.13%;
}

.news-item__abstract {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  /*color: #474d4a;*/
  color: blue;
  padding: 0;
  margin: 0;
}

@media (min-width: 980px) and (max-width: 1023px){ /*режим блок=строка 320px*/

    .view-control {
      display: none;
    }

    .news {
      background-repeat: no-repeat;
      background-image: url( "../images/index-mobile.png" );
    }

    .news-item:nth-child(1) { order: 1;}

    .news-item:nth-child(2) { order: 3;}

    .news-item:nth-child(3) { order: 5;}

    .news-item:nth-child(4) { order: 2;}

    .news-item:nth-child(5) { order: 4;}

    .news-item:nth-child(6) { order: 8;}

    .news-item:nth-child(7) { order: 7;}

    .news-item:nth-child(8) { order: 6;}

    .news-wrapper--size {
      width: 320px;
    }

    .news--size {
      max-width: 100%;
    }

    .news--view {
      flex-direction: column;
      background-color: rgba(250,210,250,10);
      flex-wrap: nowrap;
    }

    .news-item--size {
      max-width: 100%;
      background-color: rgba(10,200,15,0.1);
    }

    .news-item--view {
        flex-direction: column;
        margin-bottom: 14.69%;
    }

    .news-item__image--size {
      max-width: 100%;
    }

    .news-item__image--main-news {
      max-width: 100%;
    }

    .news-item__description {
      max-width: 100%;
      margin-left: 6.25%;
      margin-top: 3.125%;
      margin-right: 6.25%;
    }

    .news-item__description--change-margin{
      margin-top: 1.56%;
    }


    .news-item__abstract--view {
      display: none;
    }


    /**************************************************************/

}



@media (min-width: 1024px) and (max-width: 1989px) {
  /****************************************/
  /*режим блочный 1024*/

  /*.news {
      background-repeat: no-repeat;
      background-image: url( "../images/index-tablet.png" );
    }

  .news-item:nth-child(1) { order: 1;}

  .news-item:nth-child(2) { order: 3;}

  .news-item:nth-child(3) { order: 5;}

  .news-item:nth-child(4) { order: 2;}

  .news-item:nth-child(5) { order: 4;}

  .news-item:nth-child(6) { order: 8;}

  .news-item:nth-child(7) { order: 6;}

  .news-item:nth-child(8) { order: 7;}

  .news-wrapper--size {
    width: 640px;
  }

  .news--size {
    max-width: 100%;
  }

  .news--view {
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(250,210,250,10);
  }

  .news-item--size {
    max-width: 46.875%;
    background-color: rgba(10,200,15,0.1);

  }

  .news-item--view {
    flex-direction: column;
    margin-bottom: 7%;
  }

  .news-item--main {
    max-width: 100%;
    margin-bottom: 8.5%;
  }

  .news-item:nth-child(2) {
    margin-top: 0;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
  }

  .news-item__image--size {
    max-width: 100%;
  }

  .news-item__image--main-news {
    max-width: 100%;
  }

  .news-item__description {
    max-width: 100%;
  }

  .news-item__title--view {
    margin-top: 3.5%;
  }

  .news-item__abstract--invisible {
    display: none;
  }
  /*****************************************/


  /*******************************************/
  /*режим строка 1024*/
  .news {
    background-repeat: no-repeat;
    background-image: url( "../images/index-tablet-line.png" );
  }

  .news-wrapper--size {
    /*width: 640px;*/
    width: 62.5% /*тогда получается, что элементы новостей резиновые*/
  }

  .news--size {
    width: 100%;
  }

  .news--view {
    flex-direction: column;
    background-color: rgba(250,210,250,10);
  }

  .news-item--size {
    width: 100%;
    background-color: rgba(10,200,15,0.1);
  }

  .news-item--view {
      flex-direction: row;
      margin-bottom: 12.5%;
  }

  .news-item__image--size {
    width: 46.875%;
  }

  .news-item__image--main-news {
    width: 100%;
  }

  .news-item__description {
    max-width: 46.875%;
    margin-left: 3.12%;
  }

  .news-item__title--view {
    margin-top: -1.67%;
    margin-bottom: 2.67%;
  }

  /**************************************************************/

}

@media (min-width: 1990px) {
  /*режии блок 1990px*/

  .news {
  background-repeat: no-repeat;
  background-image: url( "../images/index-desktop.png" );
  }

  .news-item:nth-child(1) { order: 1;}

  .news-item:nth-child(2) { order: 4;}

  .news-item:nth-child(3) { order: 6;}

  .news-item:nth-child(4) { order: 2;}

  .news-item:nth-child(5) { order: 5;}

  .news-item:nth-child(6) { order: 3;}

  .news-item:nth-child(7) { order: 7;}

  .news-item:nth-child(8) { order: 8;}

  .news-wrapper--size {
    width: 980px;
  }

  .news--size {
    max-width: 100%;
  }

  .news--view {
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(100,200,15,10);
  }

  .news-item--size {
    max-width: 30.612%;
    background-color: rgba(10,200,15,0.1);
  }

  .news-item--view {
      flex-direction: column;
      margin-bottom: 4.8%;
  }

  .news-item__abstract--invisible {
    display: none;
  }

  .news-item--main {
    max-width: 65.306%;
  }

  .news-item__image--size {
    max-width: 100%;
  }

  .news-item__image--main-news {
    max-width: 100%;
  }

  .news-item__description {
    max-width: 100%;
  }

  .news-item__title--view {
    margin-top: 3.5%;
  }

  /*режим строка 1990 */
      /*.news {
        background-repeat: no-repeat;
        background-image: url( "../images/index-desktop-line.png" );
      }

      .news-wrapper--size {
        width: 980px;
      }

      .news--size {
        max-width: 65.3%;
      }

      .news--view {
        flex-direction: column;
        background-color: rgba(250,200,15,10);
      }

      .news-item--size {
        max-width: 100%;
        background-color: rgba(10,200,15,0.1);
      }

      .news-item--view {
          flex-direction: row;
          margin-bottom: 12.5%;
      }

      .news-item__image--size {
        max-width: 46.875%;
      }

      .news-item__image--main-news {
        max-width: 100%;
      }

      .news-item__description {
        max-width: 46.875%;
        margin-left: 3.12%;
      }

      .news-item__title--view {
        margin-top: -1.67%;
        margin-bottom: 2.67%;
      }*/
  /*************************************************************/

}
