body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', 'Arial', sans-serif;
}

.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.news-item {
  line-height: 0; /*для того, чтобы у картинки не было отступов непонятных снизу!*/
}

.news-item__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #474d4a;
  margin-top: 4.68%;
  margin-bottom: 0px;
}

.news-item__title--inside {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
}

.news-item__abstract {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #474d4a;
}

.news-item__abstract--invisible {
  display: none;
}

.news-item--main-news__wrapper {
  position: relative;
}

@media (max-width: 1023px) {

  .news--small {
    width: 320px;
    justify-content: space-between;
  }

  .news-item--small {
    width: 100%;
    margin-bottom: 12.5%;
  }

  .news-item__title--inside-small { /*для pixel perfect подкорректировать значения процентов*/
    margin-top: 7.8%;
    bottom: 10%;
    left: 6.25%;
  }

  .news-item:nth-child(3) {
    order: 2;
  }

  .news-item:nth-child(7) {
    order: 1;
  }

}
@media (min-width: 1024px) and (max-width: 1989px) {

  .news--middle {
    width: 640px;
    justify-content: space-between;
  }

  .news-item {
    width: 46.88%;
    margin-bottom: 6.25%;
  }

  .news-item--main-news { /*.news-item:nth-child(5) */
    width: 100%;
  }

  .news-item__title--inside-middle {
    margin-top: 0;
    bottom: 10%;
    left: 3.1%;
  }

  .news-item:nth-child(3) {
    order: 1;
  }

  .news-item:nth-child(7) {
    order: 0;
  }

  .news-item:nth-child(4) {
    margin-left: auto;
    margin-right: auto;
  }

}
@media (min-width: 1900px) {

  .news--big {
    width: 980px;
    justify-content: space-between;
  }

  .news-item {
    width: 30.6%;
    margin-bottom: 4.1%;
  }

  .news-item__title--inside-big {
    margin-top: 0;
    bottom: 10%;
    left: 3.1%;
  }

  .news-item--main-news { /*.news-item:nth-child(5) */
      width: 65.3%;
    }

  .news-item:nth-child(4) { /* почему-то если не прописать явно magrin , то берется более  специфичный марджин из min-width: 1024 px*/
    margin-bottom: 4.1%;
    margin-left: 0;
    margin-right: 0;
  }

  .news-item:nth-child(3) {
    order: 0;
  }

}
